@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    scroll-behavior: smooth;
}

.sidebar {
    animation: slider-sidebar 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slider-sidebar {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateX(0);
    }
    
}

.bg-mygradient {
    background: linear-gradient(to top, #fff -278%, #6d6d6d -78%, #222831 100%);
}

.bg-discount-gr{
    background: linear-gradient(130deg, #272727 0%, #11101d 100%);
}

.text-grd{
    background: radial-gradient(
        64.18% 64.18% at 71.6% 35.69%,
        #def9fa 0.89%,
        #bef3f5 17.23%,
        #9dedf0 42.04%,
        #7de7eb 55.12%,
        #5ce1e6 71.54%,
        #33bbcf 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue-gr {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
}

.pink-gr {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc76fa 100%);
    filter: blur(900px);
}

.white-gr {
    background: linear-gradient(rgba(255, 255, 255, 0.6));
    filter: blur(750px);
}

.bg-blue-gr {
    background: radial-gradient(
        64.18% 64.18% at 71.6% 35.69%,
        #def9fa 0.89%,
        #bef3f5 17.23%,
        #9dedf0 42.04%,
        #7de7eb 55.12%,
        #5ce1e6 71.54%,
        #33bbcf 100%
    );
}

.bgimage {
    min-height: 100vh;
    background-image: url(./components/assets/laptop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 620px){
    .bgimage{
        background-position: left 50px 0px;
    }
}

.aibg {
    background-image: url(./components/assets/aibg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.reactbg{
    background-image: url(./components/assets/react.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(5px); */
}

@media (max-width: 760px){
    .reactbg , .aibg {
        background-position: -300px;
    }
    .bgimage{
        background-position: -200px;
    }
}

.webbg {
    background-image: url(./components/assets/web.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}